/* ------------------
    Common Styles 
 --------------------*/
 body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* ------------------------
    Hero Section styles  
---------------------------*/

.hero-section {
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
    margin-bottom: 70px;
}
.hero-title {
    color: white;
    width: 485px;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 27px;
}
button.watch-btn-top{
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
}
button.watch-btn-top:hover{
    background-color: #3dbafd;
    cursor:pointer
}
button.watch-btn-top a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.fa-arrow-right{
    margin-left: 8px;
}
.player-baner img{
    width: 556px;
}
/*----------------------
  Player Section Styles 
-----------------------*/
.all-players {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFEFE;
    margin-bottom: 165px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.player {
    width: 330px;
    height: 474px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}
.player-images img{
    width: 100%;
    height: 256px;
}
.player-name{
    font-size: 28px;
}
/* ----------------------
   Highlights Section Styles
------------------------ */
.Highlights-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 158px;
}
.Highlights {
    width: 469px;
    height: 309px;
    margin-right: 66px;
}
h2.highlights-title {
    font-size: 48px;
    margin-bottom: -8px;
}
.highlights-images img{
    width: 567px;
    height: 427px;
}

button.watch-btn-bottom {
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    margin-top: 24px;
}
button.watch-btn-bottom:hover{
    background-color: #3dbafd;
    cursor:pointer
}

button.watch-btn-bottom a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* ------------------
Teams Section Style 
---------------------*/

section.teams {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.team-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.flag img {
    width: 300px;
    height: 100%;
}

/* ----------------
   Footer Styles 
------------------*/
footer {
    margin-bottom: 63px;
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* footer{
    width: 483px;
} */
.logo img{
    height: 110px;
}
.social{
    padding: 20px 0;
    margin-left: 14px;
}
i.fab.social-gap {
    width: 32px;
    height: 32px;
    margin-right: 14px;
    font-size: 32px;
    color: #969BAB;
    background: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}
i.fab.social-gap:hover{
    background-color: #2d25a0;
    color: white;
}