/* ------------------
    Common Styles 
 --------------------*/
 body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* ---------------------
    header Section style
----------------------- */
nav {
    background-color: #2d25a0;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    padding: 50px 0px 0px 0px;
}
.menu a {
    text-decoration: none;
    color: white;
    margin-right: 36px;
}
.login-btn a {
    color: white;
    text-decoration: none;
}
button.login-btn {
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
    border: none;
    font-size: 16px;
}
i.fas.fa-arrow-right.login-btn-m {
    margin-right: 10px;
}
/* ------------------------
    Hero Section styles  
---------------------------*/
.hero-section {
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
    margin-bottom: 70px;
}
.hero-title {
    color: white;
    width: 485px;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 27px;
}
button.watch-btn-top{
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
}
button.watch-btn-top:hover{
    background-color: #3dbafd;
    cursor:pointer
}
button.watch-btn-top a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.fa-arrow-right{
    margin-left: 8px;
}
.player-baner img{
    width: 556px;
}
/*----------------------
  Player Section Styles 
-----------------------*/
.all-players {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFEFE;
    margin-bottom: 50px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.player {
    width: 330px;
    height: 474px;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}
.player-images img{
    width: 100%;
    height: 256px;
}
.player-name{
    font-size: 28px;
}
/* ----------------------
   Highlights Section Styles
------------------------ */
.Highlights-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 158px;
}
.Highlights {
    width: 469px;
    height: 309px;
    margin-right: 66px;
}
h2.highlights-title {
    font-size: 48px;
    margin-bottom: -8px;
}
.highlights-images img{
    width: 567px;
    height: 427px;
}

button.watch-btn-bottom {
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    margin-top: 24px;
}
button.watch-btn-bottom:hover{
    background-color: #3dbafd;
    cursor:pointer
}

button.watch-btn-bottom a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}


/* ------------------
Teams Section Style 
---------------------*/

section.teams {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: column;
}
.team-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.team-title{
    color: #2d25a0;
    font-size: 30px;
}
.flag img {
    width: 300px;
    height: 100%;
}

/* --------------------
   Blogs Section Styles
----------------------- */
section.all-blogs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
}
.blog-heading {
    color: #2d25a0;
    font-size: 30px;
}
.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.blog-info {
    width: 370px;
    height: 350px;
}
.blog-info img{
    width: 370px;
    height: 230px;
}
/* ----------------
   Footer Styles 
------------------*/
footer {
    margin-bottom: 63px;
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* footer{
    width: 483px;
} */
.logo img{
    height: 110px;
}
.social{
    padding: 20px 0;
    margin-left: 14px;
}
i.fab.social-gap {
    width: 32px;
    height: 32px;
    margin-right: 14px;
    font-size: 32px;
    color: #969BAB;
    background: #E7E7E8;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}
i.fab.social-gap:hover{
    background-color: #2d25a0;
    color: white;
}
/* ----------------
    Media Queries 
  ----------------*/
@media (max-width: 480px) {
    .hero-section {
        background-color: #2D25A0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 695px;
        margin-bottom: 47px;
    }
    .hero-title {
        color: white;
        width: 377px;
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 30px;
        
    }
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        grid-row-gap: 25px;
    }
    .player-baner img {
        width: 329px;
        height: 259px;
        margin-top: 50px;
    }
    .team-title {
        color: #2d25a0;
        font-size: 20px;
    }
    .team-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    section.all-blogs {
        margin-bottom: 50px;
    }
    .blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
    }
    
    .blog-heading {
        font-size: 20px;
    }
   
    .Highlights {
        width: 329px;
        height: 400px;
    }
    .Highlights-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 43px;
        flex-direction: column;
    }
    .highlights-images img {
        width: 400px;
        height: 248px;
    }
    h2.highlights-title {
        font-size: 30px;
        margin-bottom: 24px;
    }

    .flag img {
        width: 180px;
        height: 100%;
    }
    .logo img {
        height: 63px;
        width: 280px;
    }
    i.fab.social-gap {
        width: 17px;
        height: 17px;
        margin-right: 14px;
        color: #969BAB;
        background: #E7E7E8;
        padding: 5px;
        border-radius: 50%;
        text-align: center;
        font-size: 17px;
    }
    header {
        display: none;
    }
}